@import "../globals";

.Credits {
    position: absolute;

    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);

    color: #e5e5e5c5;
    font-size: 1.125rem;

    a {
        height: 20px;

        color: $light;
    }

    svg {
        fill: $light;
        opacity: 0.75;

        transition: $transNormal;
    }

    svg:hover {
        opacity: 1;
    }
}

.CreditsText {
    display: flex;
    column-gap: 0.25rem;
}

.CreditsMakucode {
    span {
        position: relative;
        z-index: 10;

        transition: $transNormal;
        transition-duration: 0.2s;
    }
}

.CreditsMakucode::after {
    display: block;

    width: 100%;
    height: 0;

    transform: translateY(-95%) translateX(-2.5px);

    content: "";

    padding: 0.125rem 0.2rem;

    z-index: -5;

    border-radius: 5px;

    transition: $transNormal;
    transition-duration: 0.2s;
}

.CreditsMakucode:hover::after {
    height: 1.1rem;
    background-color: #e5e5e5;
}

.HoverMorning:hover {
    span {
        color: $morning-gradient-color;
    }
}

.HoverDay:hover {
    span {
        color: $day-gradient-color;
    }
}

.HoverEvening:hover {
    span {
        color: $evening-gradient-color;
    }
}

.HoverNight:hover {
    span {
        color: $night-gradient-color;
    }
}

@media screen and (max-height: 480px) {
    .Credits {
        bottom: 1rem;
    }
}

@media screen and (max-height: 340px) {
    .Credits {
        bottom: 0.5rem;
    }
}
