@import "../../globals";

.LocationPicker {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LocationPickerWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
}

.LocationPickerHeading {
    display: flex;
    column-gap: 0.5rem;

    margin-top: 1rem;

    h1 {
        font-size: 2rem;
        font-weight: 500;
    }
}

.LocationPickerSub {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    font-weight: 400;
    font-size: 1rem;

    transform: translateY(1.5px);

    svg {
        fill: $light;

        transform: translateY(2px);

        transition: $transNormal;
    }

    svg:hover {
        fill: $red;
    }
}

.LocationPickerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;

    padding: 0 2rem;

    text-align: center;

    label {
        display: block;
        font-size: 1.5rem;
    }

    input {
        width: 100%;
        box-sizing: border-box;

        padding: 0.6rem 2.5rem;

        color: $offDark;

        box-shadow: $inset-shadow;

        font-size: 1.25rem;
        text-align: center;

        outline: none;
        border: none;
        border-radius: $radiusMain;
    }

    button {
        position: absolute;
        transform: translateX(-100%);

        padding: 0.75rem 1rem;

        background-color: transparent;
        color: $mid;

        border: none;
        border-radius: $radiusMain;

        font-size: 1.25rem;
        font-weight: 500;

        cursor: pointer;

        svg {
            width: 20px;

            transition: $transNormal;
        }
    }

    button:hover {
        svg {
            color: $offDark;
        }
    }
}

.LocationPickerInpputWrapper {
    width: 100%;
}

.PlaceholderSmall {
    height: 40px;
    margin-bottom: 1rem;
}

@media screen and (max-width: $br-s) {
    .LocationPickerHeading {
        flex-direction: column;
        justify-content: center;
    }

    .LocationPickerForm {
        label {
            font-size: 1.25rem;
        }

        input {
            font-size: 1rem;
        }

        svg {
            transform: translateY(-2px);
        }
    }
}
