// Fonts

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap");

$sans: "Outfit", sans-serif;

// Colors

$day-gradient-color: rgb(81, 164, 219);
$day-gradient: linear-gradient(
    166deg,
    rgba(81, 164, 219, 1) 0%,
    rgba(115, 186, 225, 1) 100%
);

$dark: #1a1a1a;
$offDark: #686868;
$light: #e5e5e5;
$lightTransparent: #e5e5e562;
$mid: #d8d8d8;
$red: indianred;

// Borders

$radiusMain: 12px;

// Shadows

$text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.15);
$inset-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2);

// Transitions & Easings

$transNormal: all ease-in-out 0.15s;
