@import "./globals";

* {
    margin: 0;
    padding: 0;

    font-family: $sans;
}

html,
body {
    box-sizing: border-box;

    color: #e5e5e5;

    scroll-snap-type: y mandatory;

    scrollbar-width: none;
}

a {
    display: block;

    color: $light;
    text-decoration: none;

    transition: $transNormal;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

section {
    box-sizing: border-box;
    height: 100vh;
    max-height: 100vh;

    scroll-snap-align: start;
}

//

.Main {
}

.BgMorning {
    background-color: $morning-gradient-color;
    background: $morning-gradient;
    background-repeat: no-repeat;
}

.BgDay {
    background-color: $day-gradient-color;
    background: $day-gradient;
    background-repeat: no-repeat;
}

.BgEvening {
    background-color: $evening-gradient-color;
    background: $evening-gradient;
    background-repeat: no-repeat;
}

.BgNight {
    background-color: $night-gradient-color;
    background: $night-gradient;
    background-repeat: no-repeat;
}

// Scrollbar

::-webkit-scrollbar {
    display: none;
}

//

// Utility

.Hide {
    display: none;
}

.SectionIn {
    opacity: 1;
    transform: scale(1) translateY(0) translateX(0);
}

.IconMsgBox {
    position: absolute;
    width: max-content;

    padding: 0.5rem 0.5rem;

    border-radius: $radiusMain;

    transform: translateX(-44%) translateY(4px);

    background-color: #1a1a1abe;
}
